In [22]:
#import packages
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [41]:
#importing the csv file
new_data = pd.read_csv('nd2.csv', sep=',')

In [42]:
print(new_data.shape)

(12859, 85)

In [43]:
#check data types
new_data.dtypes

ID                           int64
DaysbetweenDIS_Donation      int64
trouw_don                    int64
NrPreviousDonations          int64
Gender                       int64
AgeDISParticipation          int64
Gewicht                    float64
Lengte                     float64
MaritalStatus              float64
Household                  float64
Work_hours                 float64
D2_v10                     float64
D2_v11                     float64
v12_a                      float64
v12_b                      float64
v12_c                      float64
v12_d                      float64
D2_v13                     float64
D2_v15                     float64
D2_v16_1                     int64
D2_v16_2                     int64
D2_v16_3                     int64
D2_v16_4                     int64
D2_v16_5                     int64
D2_v16_6                     int64
D2_v16_7                     int64
D2_v16_8                     int64
D2_v16_9                     int64
D2_v16_10                    int64
D2_v16_11                    int64
                            ...
v46_b                      float64
v46_c                      float64
v46_d                      float64
v46_e                      float64
v46_f                      float64
v46_g                      float64
v47_a                      float64
v47_b                      float64
v47_c                      float64
v47_d                      float64
v48                        float64
v52_a                      float64
v52_b                      float64
v52_c                      float64
v52_d                      float64
v52_e                      float64
v52_f                      float64
v52_g                      float64
v52_h                      float64
v52_i                      float64
v52_j                      float64
v52_k                      float64
v52_l                      float64
v52_m                      float64
v52_n                      float64
v52_o                      float64
v52_p                      float64
v52_q                      float64
v60_0                      float64
v61_0                      float64
dtype: object

In [45]:
# fill missing values with mean column values
new_data = new_data.fillna(new_data.mean(), inplace=True)

In [44]:
new_data.columns.values

array(['ID', 'DaysbetweenDIS_Donation', 'trouw_don', 'NrPreviousDonations',
       'Gender', 'AgeDISParticipation', 'Gewicht', 'Lengte',
       'MaritalStatus', 'Household', 'Work_hours', 'D2_v10', 'D2_v11',
       'v12_a', 'v12_b', 'v12_c', 'v12_d', 'D2_v13', 'D2_v15', 'D2_v16_1',
       'D2_v16_2', 'D2_v16_3', 'D2_v16_4', 'D2_v16_5', 'D2_v16_6',
       'D2_v16_7', 'D2_v16_8', 'D2_v16_9', 'D2_v16_10', 'D2_v16_11',
       'D2_v16_12', 'v20_a', 'v20_b', 'v20_c', 'v20_d', 'v20_e', 'v20_f',
       'v21_a', 'v21_b', 'v21_c', 'v21_d', 'v21_e', 'v21_f', 'v21_g',
       'v21_h', 'v21_i', 'v21_j', 'v21_k', 'v21_l', 'v21_m', 'v21_n',
       'v21_o', 'v29_1', 'v40_1', 'v46_a', 'v46_b', 'v46_c', 'v46_d',
       'v46_e', 'v46_f', 'v46_g', 'v47_a', 'v47_b', 'v47_c', 'v47_d',
       'v48', 'v52_a', 'v52_b', 'v52_c', 'v52_d', 'v52_e', 'v52_f',
       'v52_g', 'v52_h', 'v52_i', 'v52_j', 'v52_k', 'v52_l', 'v52_m',
       'v52_n', 'v52_o', 'v52_p', 'v52_q', 'v60_0', 'v61_0'], dtype=object)

In [46]:
# change float to int
cols = ['MaritalStatus', 'Household', 'Work_hours', 'D2_v10', 'D2_v11',
       'v12_a', 'v12_b', 'v12_c', 'v12_d', 'D2_v13', 'D2_v15', 'v20_a', 'v20_b', 'v20_c', 'v20_d', 'v20_e', 'v20_f',
       'v21_a', 'v21_b', 'v21_c', 'v21_d', 'v21_e', 'v21_f', 'v21_g',
       'v21_h', 'v21_i', 'v21_j', 'v21_k', 'v21_l', 'v21_m', 'v21_n',
       'v21_o', 'v29_1', 'v40_1', 'v46_a', 'v46_b', 'v46_c', 'v46_d',
       'v46_e', 'v46_f', 'v46_g', 'v47_a', 'v47_b', 'v47_c', 'v47_d',
       'v48', 'v52_a', 'v52_b', 'v52_c', 'v52_d', 'v52_e', 'v52_f',
       'v52_g', 'v52_h', 'v52_i', 'v52_j', 'v52_k', 'v52_l', 'v52_m',
       'v52_n', 'v52_o', 'v52_p', 'v52_q', 'v60_0', 'v61_0']

new_data[cols] = new_data[cols].applymap(np.int64)

## Start preprocessing of different concepts

In [50]:
#v46 - generalized social trust
trp = new_data.loc[:, ('ID','v46_b','v46_c','v46_e')]
trg = new_data.loc[:, ('ID','v46_a','v46_d','v46_f','v46_g')] #dataframe with the correct scores

In [51]:
# for loop to code polarisation
for i in range(len(trp['v46_b'])):
    if i == len(trp['v46_b'])-1:
        print('Completed')
        break
    else:     
        if trp.loc[i, 'v46_b'] == 1:
            trp.loc[i, 'v46_b'] = 5
        elif trp.loc[i, 'v46_b'] == 2:         
            trp.loc[i, 'v46_b'] = 4
        elif trp.loc[i, 'v46_b'] == 4:         
            trp.loc[i,  'v46_b'] = 2
        elif trp.loc[i, 'v46_b'] == 5:         
            trp.loc[i, 'v46_b'] = 1

Completed

In [52]:
# for loop to code polarisation
for i in range(len(trp['v46_c'])):
    if i == len(trp['v46_c'])-1:
        print('Completed')
        break
    else:        
        if trp.loc[i, 'v46_c'] == 1:
            trp.loc[i, 'v46_c'] = 5
        elif trp.loc[i, 'v46_c'] == 2:         
            trp.loc[i, 'v46_c'] = 4
        elif trp.loc[i, 'v46_c'] == 4:         
            trp.loc[i,  'v46_c'] = 2
        elif trp.loc[i, 'v46_c'] == 5:         
            trp.loc[i, 'v46_c'] = 1

Completed

In [53]:
# for loop to code polarisation
for i in range(len(trp['v46_e'])):
    if i == len(trp['v46_e'])-1:
        print('Completed')
        break
    else:       
        if trp.loc[i, 'v46_e'] == 1:
            trp.loc[i, 'v46_e'] = 5
        elif trp.loc[i, 'v46_e'] == 2:         
            trp.loc[i, 'v46_e'] = 4
        elif trp.loc[i, 'v46_e'] == 4:         
            trp.loc[i,  'v46_e'] = 2
        elif trp.loc[i, 'v46_e'] == 5:         
            trp.loc[i, 'v46_e'] = 1

Completed

In [69]:
#merge dataframes
tr = pd.merge(trp, trg, how='left', on=['ID'])

In [70]:
tr['v46']=tr['v46_b'] + tr['v46_c']+ tr['v46_e'] + tr['v46_a'] + tr['v46_d'] + tr['v46_f'] + tr['v46_g']

In [72]:
trs = tr.loc[:,('ID','v46')]

In [74]:
#v47 - self-perceived health
hvp = new_data.loc[:, ('ID','v47_a','v47_c')]
hvg = new_data.loc[:, ('ID','v47_b','v47_d',)] #dataframe with correct scores

In [75]:
# for loop to code polarisation
for i in range(len(hvp['v47_a'])):
    if i == len(hvp['v47_a'])-1:
        print('Completed')
        break
    else:     
        if hvp.loc[i, 'v47_a'] == 1:
            hvp.loc[i, 'v47_a'] = 5
        elif hvp.loc[i, 'v47_a'] == 2:         
            hvp.loc[i, 'v47_a'] = 4
        elif hvp.loc[i, 'v47_a'] == 4:         
            hvp.loc[i,  'v47_a'] = 2
        elif hvp.loc[i, 'v47_a'] == 5:         
            hvp.loc[i, 'v47_a'] = 1
            
for i in range(len(hvp['v47_c'])):
    if i == len(hvp['v47_c'])-1:
        print('Completed')
        break
    else:     
        if hvp.loc[i, 'v47_c'] == 1:
            hvp.loc[i, 'v47_c'] = 5
        elif hvp.loc[i, 'v47_c'] == 2:         
            hvp.loc[i, 'v47_c'] = 4
        elif hvp.loc[i, 'v47_c'] == 4:         
            hvp.loc[i,  'v47_c'] = 2
        elif hvp.loc[i, 'v47_c'] == 5:         
            hvp.loc[i, 'v47_c'] = 1

Completed
Completed

In [76]:
#merge DFs
hv = pd.merge(hvp, hvg, how='left', on=['ID'])

In [78]:
#calculate sum score
hv['v47']=hv['v47_a'] + hv['v47_b']+ hv['v47_c'] + hv['v47_d']

In [79]:
#keep the right things
hvs = hv.loc[:,('ID','v47')]

In [81]:
#v20_a t/m c: cognitive attitude: I find giving blood.. 
cap = new_data.loc[:, ('ID','v20_b')]
cag = new_data.loc[:, ('ID','v20_a','v20_c')] #dataframe met alle goede scores, maar nog meerdere regels per ID

In [82]:
# for loop to recode polarisation
for i in range(len(cap['v20_b'])):
    if i == len(cap['v20_b'])-1:
        print('Completed')
        break
    else:     
        if cap.loc[i, 'v20_b'] == 1:
            cap.loc[i, 'v20_b'] = 5
        elif cap.loc[i, 'v20_b'] == 2:         
            cap.loc[i, 'v20_b'] = 4
        elif cap.loc[i, 'v20_b'] == 4:         
            cap.loc[i,  'v20_b'] = 2
        elif cap.loc[i, 'v20_b'] == 5:         
            cap.loc[i, 'v20_b'] = 1

Completed

In [83]:
#merge DFs
ca = pd.merge(cap, cag, how='left', on=['ID'])

In [84]:
#sum score
ca['v20cog']=ca['v20_a'] + ca['v20_b']+ ca['v20_c']

In [85]:
#keep whats needed
cas = ca.loc[:,('ID','v20cog')]

In [87]:
#v20_d t/m f: affective attitude I find giving blood.. 
aap = new_data.loc[:, ('ID','v20_d')]
aag = new_data.loc[:, ('ID','v20_e','v20_f')] #keep dataframe

In [88]:
# for loop to recode polarisation
for i in range(len(aap['v20_d'])):
    if i == len(aap['v20_d'])-1:
        print('Completed')
        break
    else:     
        if aap.loc[i, 'v20_d'] == 1:
            aap.loc[i, 'v20_d'] = 5
        elif aap.loc[i, 'v20_d'] == 2:         
            aap.loc[i, 'v20_d'] = 4
        elif aap.loc[i, 'v20_d'] == 4:         
            aap.loc[i,  'v20_d'] = 2
        elif aap.loc[i, 'v20_d'] == 5:         
            aap.loc[i, 'v20_d'] = 1

Completed

In [89]:
#merge dataframes
aa = pd.merge(aap, aag, how='left', on=['ID'])

In [90]:
#calculate sumscore
aa['v20af']=aa['v20_d'] + aa['v20_e']+ aa['v20_f']

In [91]:
#keep whats needed
aas = aa.loc[:,('ID','v20af')]

In [93]:
#D2_v21 meet de 4 concepten van TBP: intention, self-efficacy, subjective norm & moral norm 

#intention: D2_v21 i & k > no recoding 
v21_int = new_data.loc[:, ('ID','v21_i','v21_k')] #correct df

#subjective norm: v21 a & h > no recoding
v21_sn = new_data.loc[:, ('ID','v21_a','v21_h')]

#moral norm: v21 c, d & m > no recoding
v21_mn = new_data.loc[:, ('ID','v21_c','v21_d','v21_m')]

In [94]:
#sum score
v21_int['v21_int']=v21_int['v21_i'] + v21_int['v21_k']
v21_sn['v21_sn']=v21_sn['v21_a'] + v21_sn['v21_h']
v21_mn['v21_mn']=v21_mn['v21_c'] + v21_mn['v21_d']+ v21_mn['v21_m']

In [95]:
#keep correct dfs
ints = v21_int.loc[:,('ID','v21_int')]
sns = v21_sn.loc[:,('ID','v21_sn')]
mns = v21_mn.loc[:,('ID','v21_mn')]

In [99]:
#v21 self-efficacy: bfn. b needs recoding
sep = new_data.loc[:, ('ID','v21_b')]
seg = new_data.loc[:, ('ID','v21_f','v21_n')]

In [100]:
# for loop to recode polarisation
for i in range(len(sep['v21_b'])):
    if i == len(sep['v21_b'])-1:
        print('Completed')
        break
    else:     
        if sep.loc[i, 'v21_b'] == 1:
            sep.loc[i, 'v21_b'] = 5
        elif sep.loc[i, 'v21_b'] == 2:         
            sep.loc[i, 'v21_b'] = 4
        elif sep.loc[i, 'v21_b'] == 4:         
            sep.loc[i,  'v21_b'] = 2
        elif sep.loc[i, 'v21_b'] == 5:         
            sep.loc[i, 'v21_b'] = 1

Completed

In [101]:
#merge df
se = pd.merge(sep, seg, how='left', on=['ID'])

In [102]:
#sum
se['v20ses']=se['v21_b'] + se['v21_f']+ se['v21_n']

In [103]:
#keep whats needed
ses = se.loc[:,('ID','v20ses')]

In [113]:
#medicine use
mgz = new_data.loc[:, ('ID','v52_a','v52_b','v52_c','v52_d','v52_e','v52_f','v52_j','v52_k','v52_l')]

In [118]:
mgz

          ID  v52_a  v52_b  v52_c  v52_d  v52_e  v52_f  v52_j  v52_k  v52_l
0          3      0      0      0      0      0      0      0      0      0
1          4      0      0      0      0      0      0      0      0      0
2          7      0      0      0      0      0      0      0      0      0
3          8      0      0      0      0      0      0      0      0      0
4          9      0      0      0      1      0      0      0      0      0
5         11      0      0      0      0      0      0      0      0      0
6         12      0      0      0      0      0      0      0      0      0
7         13      0      0      0      0      0      0      0      0      0
8         18      0      0      0      0      0      0      1      0      0
9         20      0      0      0      0      0      0      0      0      0
10        22      0      0      0      1      0      0      0      0      0
11        23      0      0      0      0      0      0      0      0      0
12        25      0      0      0      1      0      0      0      0      0
13        27      0      0      0      0      0      0      1      0      0
14        28      0      0      0      0      0      0      0      0      0
15        30      0      0      0      0      0      0      0      0      0
16        32      0      0      0      0      0      0      0      0      1
17        33      0      0      0      0      0      0      0      0      1
18        37      0      0      0      1      1      0      0      0      0
19        38      0      0      0      0      0      0      0      0      0
20        39      0      0      0      0      0      0      0      0      0
21        40      0      0      0      0      0      0      0      0      0
22        41      0      0      0      0      0      0      0      0      0
23        44      0      0      0      0      0      0      0      0      0
24        46      0      1      0      1      0      0      0      0      0
25        49      0      0      0      0      0      0      0      0      0
26        50      0      0      0      0      0      0      0      0      0
27        51      0      0      0      0      0      0      0      0      0
28        52      0      0      0      0      0      0      0      0      0
29        54      0      0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
12829  22079      0      0      0      0      0      0      0      0      0
12830  22082      0      0      0      0      0      0      0      0      0
12831  22083      0      1      0      0      0      0      0      0      0
12832  22084      0      0      0      0      0      0      0      0      1
12833  22085      0      0      0      0      0      0      0      0      0
12834  22089      0      0      0      0      0      0      0      0      0
12835  22091      0      0      0      0      0      0      0      0      0
12836  22094      0      0      0      0      0      0      0      0      0
12837  22097      0      0      0      0      0      0      1      0      0
12838  22099      0      0      0      0      0      0      0      0      0
12839  22100      0      0      0      0      0      0      0      0      0
12840  22101      0      0      0      0      0      0      0      0      0
12841  22102      0      0      0      0      0      0      0      0      0
12842  22104      0      0      0      0      0      0      0      0      0
12843  22105      0      0      0      0      0      0      0      0      0
12844  22107      0      0      0      0      0      0      0      0      0
12845  22109      0      0      0      0      0      0      0      0      0
12846  22110      0      0      0      0      0      0      0      0      0
12847  22114      0      0      0      0      0      0      0      0      0
12848  22115      0      0      0      0      0      0      0      0      0
12849  22117      0      0      0      0      0      0      0      0      0
12850  22118      0      0      0      0      0      0      0      0      0
12851  22119      0      0      0      0      0      0      0      0      0
12852  22120      0      0      0      0      0      0      0      0      0
12853  22122      0      0      0      0      0      0      0      1      1
12854  22124      0      0      0      0      0      0      0      0      0
12855  22125      0      0      0      0      0      0      0      0      0
12856  22128      0      0      0      0      0      0      0      0      0
12857  22131      0      0      0      0      1      0      1      0      0
12858  22132      0      0      0      0      0      0      0      0      0

[12859 rows x 10 columns]

In [117]:
#recode values
mgz.iloc[:,[1,2,3,4,5,6,7,8,9]] = mgz.replace([3, 2], 0)

In [119]:
#sum score
mgz['v52mgz'] = mgz['v52_a'] + mgz['v52_b'] + mgz['v52_c'] + mgz['v52_d'] + mgz['v52_e'] + mgz['v52_f'] + mgz['v52_j'] + mgz['v52_k'] + mgz['v52_l']

In [120]:
#keep whats needed
mgzs = mgz.loc[:,('ID','v52mgz')]

In [158]:
#v52_g t/m isleep, calming, depression . yes = 1, yes but not anymore & no, never from 2/3 to 0
skd = new_data.loc[:, ('ID','v52_g','v52_h','v52_i')]

In [159]:
#Recoden
skd.iloc[:,[1,2,3]] = skd.replace([3, 2], 0)

In [126]:
#v52_m t/m q supplements.  yes = 1, yes but not anymore & no, never recode from 2/3 to 0
sg = new_data.loc[:, ('ID','v52_m','v52_n','v52_o','v52_p','v52_q')]

In [127]:
#recoden
sg.iloc[:,[1,2,3,4,5]] = sg.replace([3, 2], 0)

In [128]:
#sum & merge
sg['v52sg'] = sg['v52_m'] + sg['v52_n'] + sg['v52_o'] + sg['v52_p'] + sg['v52_q']

In [129]:
#keep whats necessary

In [131]:
#v61_0 is recode
bdf = new_data.loc[:, ('ID','v61_0')]

In [133]:
# for loop to recode 
for i in range(len(bdf['v61_0'])):
    if i == len(bdf['v61_0'])-1:
        print('Completed')
        break
    else:     
        if bdf.loc[i, 'v61_0'] == 1:
            bdf.loc[i, 'v61_0'] = 0
        elif bdf.loc[i, 'v61_0'] == 0:         
            bdf.loc[i, 'v61_0'] = 1

Completed

In [135]:
#v61_1 
btf = new_data.loc[:, ('ID','v60_0')]

In [136]:
#recode
for i in range(len(btf['v60_0'])):
    if i == len(btf['v60_0'])-1:
        print('Completed')
        break
    else:     
        if btf.loc[i, 'v60_0'] == 1:
            btf.loc[i, 'v60_0'] = 0
        elif btf.loc[i, 'v60_0'] == 0:         
            btf.loc[i, 'v60_0'] = 1

Completed

In [138]:
#d15 side effects
D2_v15 = new_data.loc[:, ('ID','D2_v15')]

In [140]:
#Recode
for i in range(len(D2_v15['D2_v15'])):
    if i == len(D2_v15['D2_v15'])-1:
        print('Completed')
        break
    else:     
        if D2_v15.loc[i, 'D2_v15'] > 1:
            D2_v15.loc[i, 'D2_v15'] = 0

Completed

In [142]:
D2_v16 = new_data.loc[:, ('ID', 'D2_v16_1',
       'D2_v16_2', 'D2_v16_3', 'D2_v16_4', 'D2_v16_5', 'D2_v16_6',
       'D2_v16_7', 'D2_v16_8', 'D2_v16_9', 'D2_v16_10', 'D2_v16_11',
       'D2_v16_12')]

In [145]:
#AgeDISparticpation
AgeDIS = new_data.loc[:, ('ID','AgeDISParticipation')]

In [147]:
#gender
Gender = new_data.loc[:, ('ID','Gender')]

In [148]:
#have you ever fainted during or immediately after giving blood? yes = 1, no = 2 > recode
D2_v13 = new_data.loc[:, ('ID','D2_v13')]

In [149]:
#We maken een for loop om per variabele alles om te coderen per variabele
for i in range(len(D2_v13['D2_v13'])):
    if i == len(D2_v13['D2_v13'])-1:
        print('Completed')
        break
    else:     
        if D2_v13.loc[i, 'D2_v13'] > 1:
            D2_v13.loc[i, 'D2_v13'] = 0

Completed

In [167]:
#v12_a t/m d: previous deferral: iron, irregular pulse blood pressure
v12 = new_data.loc[:, ('ID','v12_a','v12_b','v12_c', 'v12_d')]

In [168]:
#Recoden
v12.iloc[:,[1,2,3,4]] = v12.replace([2], 0)

In [161]:
#Nrofpreviousdonations
NrDon = new_data.loc[:, ('ID','NrPreviousDonations')]

In [162]:
#Work_hours
Workh = new_data.loc[:, ('ID','Work_hours')]

In [171]:
#v29_1 do you smoke
v29 = new_data.loc[:, ('ID','v29_1')]

In [172]:
#Recoden
v29.iloc[:,[1]] = v29.replace([2,3], 0)

In [175]:
#v40_1 hours of sport a week
sport = new_data.loc[:, ('ID','v40_1')]

In [190]:
#v48 doctor visit, 1 is ja, 2 is nee > recode
v48 = new_data.loc[:, ('ID', 'v48')]

In [191]:
#Recoden
v48.iloc[:,[1]] = v48.replace([2], 0)

In [180]:
#df van de target variabele
trouw = new_data.loc[:, ('ID','trouw_don')]

In [181]:
new_data.columns.values

array(['ID', 'DaysbetweenDIS_Donation', 'trouw_don', 'NrPreviousDonations',
       'Gender', 'AgeDISParticipation', 'Gewicht', 'Lengte',
       'MaritalStatus', 'Household', 'Work_hours', 'D2_v10', 'D2_v11',
       'v12_a', 'v12_b', 'v12_c', 'v12_d', 'D2_v13', 'D2_v15', 'D2_v16_1',
       'D2_v16_2', 'D2_v16_3', 'D2_v16_4', 'D2_v16_5', 'D2_v16_6',
       'D2_v16_7', 'D2_v16_8', 'D2_v16_9', 'D2_v16_10', 'D2_v16_11',
       'D2_v16_12', 'v20_a', 'v20_b', 'v20_c', 'v20_d', 'v20_e', 'v20_f',
       'v21_a', 'v21_b', 'v21_c', 'v21_d', 'v21_e', 'v21_f', 'v21_g',
       'v21_h', 'v21_i', 'v21_j', 'v21_k', 'v21_l', 'v21_m', 'v21_n',
       'v21_o', 'v29_1', 'v40_1', 'v46_a', 'v46_b', 'v46_c', 'v46_d',
       'v46_e', 'v46_f', 'v46_g', 'v47_a', 'v47_b', 'v47_c', 'v47_d',
       'v48', 'v52_a', 'v52_b', 'v52_c', 'v52_d', 'v52_e', 'v52_f',
       'v52_g', 'v52_h', 'v52_i', 'v52_j', 'v52_k', 'v52_l', 'v52_m',
       'v52_n', 'v52_o', 'v52_p', 'v52_q', 'v60_0', 'v61_0'], dtype=object)

In [194]:
s1 = pd.merge(trouw, gewicht, how='left', on=['ID'])

In [195]:
s2 = pd.merge(s1,lengte, how='left', on=['ID'])

In [198]:
s3c = pd.merge(s3b, NrDon, how='left', on=['ID'])

In [199]:
s4 = pd.merge(s3c, Gender, how='left', on=['ID'])

In [200]:
s5 = pd.merge(s4, AgeDIS, how='left', on=['ID'])

In [201]:
s6 = pd.merge(s5, D2_v11, how='left', on=['ID'])

In [202]:
s7 = pd.merge(s6, Workh, how='left', on=['ID'])

In [203]:
s8 = pd.merge(s7, v12, how='left', on=['ID'])

In [204]:
s9 = pd.merge(s8, D2_v13, how='left', on=['ID'])

In [205]:
s10 = pd.merge(s9, D2_v15, how='left', on=['ID'])

In [206]:
s10b = pd.merge(s10, D2_v16, how='left', on=['ID'])

In [207]:
s11 = pd.merge(s10b, cas, how='left', on=['ID'])

In [208]:
s12 = pd.merge(s11, aas, how='left', on=['ID'])

In [209]:
s13 = pd.merge(s12, ints, how='left', on=['ID'])

In [210]:
s14 = pd.merge(s13, ses, how='left', on=['ID'])

In [211]:
s15 = pd.merge(s14, sns, how='left', on=['ID'])

In [212]:
s16 = pd.merge(s15, mns, how='left', on=['ID'])

In [213]:
s17 = pd.merge(s16, v29, how='left', on=['ID'])

In [214]:
s18 = pd.merge(s17, sport, how='left', on=['ID'])

In [215]:
s19 = pd.merge(s18, hvs, how='left', on=['ID'])

In [216]:
s20 = pd.merge(s19, trs, how='left', on=['ID'])

In [217]:
s21 = pd.merge(s20, v48, how='left', on=['ID'])

In [218]:
s22 =  pd.merge(s21, mgzs, how='left', on=['ID'])

In [219]:
s23 = pd.merge(s22, skd, how='left', on=['ID'])

In [220]:
s24 = pd.merge(s23, sg, how='left', on=['ID'])

In [221]:
s25 = pd.merge(s24, bdf, how='left', on=['ID'])

In [222]:
#final merge
df = pd.merge(s25, btf, how='left', on=['ID'])

In [223]:
#dataframe vast opslaan als csv #youneverknow
df.to_csv('df2.csv')

In [226]:
df.shape

(12859, 47)